body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
    background-color: #eef4ed;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #52796f;
    margin-bottom: 4px;
}

button {

    background: #d8e2dc;
    color: #354f52;
    padding: 10px 20px;
    border: 1px solid #52796f;
    font-weight: bold;
    width: 30%;
}

#deleteall-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    color: #354f52;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color: #5f9341;
}


